.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 20px);
    height: 80px;
    top: 0;
    left: 0;
    background-color: #fff7f2;
    border: 1px solid #333;
    border-radius: 10px;
    margin: 10px 10px 0px 10px;
}

.navbar a {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 10px;
    line-height: 100px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 768px) {
    .navbar a {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
  .navbar a {
    font-size: 0.9rem;
  }
}

.navbar a:active {
  color: #a0522d;
}

